<div class="mmt-weak-modal">
  <div class="modal fade" id="mmt-weak-part" tabindex="-1" role="dialog" aria-labelledby="mmtWeakPartLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">筋力低下</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="mmt-weak-part modal-body">
          <% patient.mmt_scales.last.decorate.weak_part.each do |part| %>
            <%= MmtScale.human_attribute_name(part[0]) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
