<div class="healthy-side-function-modal">
  <div class="modal fade" id="scale21" tabindex="-1" role="dialog" aria-labelledby="scale21Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          握力
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale22" tabindex="-1" role="dialog" aria-labelledby="scale22Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          座位における健側膝伸展筋力を評価する。
        </div>
      </div>
    </div>
  </div>
</div>
