<div class="motor-function-modal">
  <div class="modal fade" id="scale1" tabindex="-1" role="dialog" aria-labelledby="scale1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          座位において患肢の手部を対側膝(大腿)上より挙上し、手部を口まで運ぶ。
          この際、肩は90°まで外転させる。そして膝上まで戻す。これを3回繰り返す。
          肩、肘関節に拘縮が存在する場合は可動域内での運動をもって課題可能と判断する。
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale2" tabindex="-1" role="dialog" aria-labelledby="scale2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          手指の分離運動を、母子〜小指の順に屈曲、小指〜母指の順に伸展することにより行う。
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale3" tabindex="-1" role="dialog" aria-labelledby="scale3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          座位にて股関節を90°より最大屈曲させる。3回行う。
          必要ならば座位保持のための介助をして構わない。
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale4" tabindex="-1" role="dialog" aria-labelledby="scale4Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          座位にて膝関節を90°屈曲位から十分伸展(-10°程度まで)させる。3回行う。
          必要ならば座位保持のための介助をして構わない。
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale5" tabindex="-1" role="dialog" aria-labelledby="scale5Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          座位または臥位置、座位は介助しても可。踵部を床につけたまま、
          足部の背屈運動を協調しながら背屈・底屈を3回繰り返し、その後なるべく早く背屈を繰り返す。
        </div>
      </div>
    </div>
  </div>
</div>
