<div class="rom-pain-modal">
  <div class="modal fade" id="scale14" tabindex="-1" role="dialog" aria-labelledby="scale14Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          他動的肩関節外転を行う。
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale15" tabindex="-1" role="dialog" aria-labelledby="scale15Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          膝関節伸展位にて他動的足関節背屈を行う。
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale16" tabindex="-1" role="dialog" aria-labelledby="scale16Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          脳卒中に由来する疼痛の評価を行う。既往としての整形外科的(腰痛など)、
          内科的(胆石など)疼痛は含めない。また過度でない拘縮伸長時のみの痛みも含めない。
        </div>
      </div>
    </div>
  </div>
</div>
