<div class="tone-reflex-modal">
  <div class="modal fade" id="scale6" tabindex="-1" role="dialog" aria-labelledby="scale6Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          肘関節を他動的に伸展屈曲させ、筋緊張の状態を評価する。
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale7" tabindex="-1" role="dialog" aria-labelledby="scale7Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          膝関節の他動的伸展屈曲により評価する。
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale8" tabindex="-1" role="dialog" aria-labelledby="scale8Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          上腕二頭筋、上腕三頭筋腱反射
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale9" tabindex="-1" role="dialog" aria-labelledby="scale9Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          膝蓋腱、アキレス腱反射
        </div>
      </div>
    </div>
  </div>
</div>
