<div class="trunk_function-modal">
  <div class="modal fade" id="scale17" tabindex="-1" role="dialog" aria-labelledby="scale17Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          静的座位
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale18" tabindex="-1" role="dialog" aria-labelledby="scale18Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          車椅子または椅子に座り、臀部を前にずらし、体幹を45°後方へ傾け、背もたれによりかかる。
          大腿部が水平になるように検者が押さえ、体幹を垂直位置まで起き上がらせる。
          検者が抵抗を加える場合には、胸骨上部を押さえること。
        </div>
      </div>
    </div>
  </div>
</div>
