<div class="row show-rom-collapse">
  <button class="btn btn-primary col-4 col-md-1" type="button" data-toggle="collapse" data-target="#shoulder_rom_score" aria-expanded="false" aria-controls="shoulder_rom_score">
    肩関節
  </button>
  <button class="btn btn-primary col-4 col-md-2" type="button" data-toggle="collapse" data-target="#elbow_forearm_rom_score" aria-expanded="false" aria-controls="elbow_forearm_rom_score">
    肘関節・前腕
  </button>
  <button class="btn btn-primary col-4 col-md-1" type="button" data-toggle="collapse" data-target="#wrist_rom_score" aria-expanded="false" aria-controls="wrist_rom_score">
    手関節
  </button>
  <button class="btn btn-primary col-4 col-md-1" type="button" data-toggle="collapse" data-target="#hip_rom_score" aria-expanded="false" aria-controls="hip_rom_score">
    股関節
  </button>
  <button class="btn btn-primary col-4 col-md-1" type="button" data-toggle="collapse" data-target="#knee_rom_score" aria-expanded="false" aria-controls="knee_rom_score">
    膝関節
  </button>
  <button class="btn btn-primary col-4 col-md-1" type="button" data-toggle="collapse" data-target="#ankle_rom_score" aria-expanded="false" aria-controls="ankle_rom_score">
    足関節
  </button>
</div>
