<div class="collapse" id="hip_rom_score">
  <div class="card card-body">
    <h3>股関節</h3>
    <div class="d-flex justify-content-center">
      <div class="hip_rom_head">
        <dd style="height:24px;"></dd>
        <dd>屈曲</dd>
        <dd>伸展</dd>
        <dd>内転</dd>
        <dd>外転</dd>
        <dd>内旋</dd>
        <dd>外旋</dd>
      </div>
      <div class="right_hip_rom_score" style="width:80px;border:1px solid black;text_align:center">
        <dd>右</dd>
        <% rom_scale.right_hip_each_score.each do |attr_name, score| %>
          <dd class="<%= attr_name %>_score"><%= score %></dd>
        <% end %>
      </div>
      <div class="left_hip_rom_score">
        <dd>左</dd>
        <% rom_scale.left_hip_each_score.each do |attr_name, score| %>
          <dd class="<%= attr_name %>_score"><%= score %></dd>
        <% end %>
      </div>
    </div>
  </div>
</div>
