<div class="collapse" id="hip_rom_score">
  <div class="card card-body">
    <h3>股関節</h3>
    <div class="d-flex justify-content-center">
      <div class="hip_rom_head part-head">
        <dd class="left-top"></dd>
        <dd>屈曲</dd>
        <dd>伸展</dd>
        <dd>内転</dd>
        <dd>外転</dd>
        <dd>内旋</dd>
        <dd>外旋</dd>
      </div>
      <div class="right_hip_rom_score rom-score">
        <dd class="direction-head">右</dd>
        <% rom_scale.right_hip_scale_score.each do |attr_name, score| %>
          <dd class="<%= attr_name %>_score"><%= score %>°</dd>
        <% end %>
      </div>
      <div class="left_hip_rom_score rom-score">
        <dd class="direction-head">左</dd>
        <% rom_scale.left_hip_scale_score.each do |attr_name, score| %>
          <dd class="<%= attr_name %>_score"><%= score %>°</dd>
        <% end %>
      </div>
    </div>
  </div>
</div>
