<div class="collapse" id="shoulder_rom_score">
  <div class="card card-body">
    <h3>肩関節</h3>
    <div class="d-flex justify-content-center">
      <div class="shoulder_rom_head">
        <dd style="height:24px;"></dd>
        <dd>屈曲</dd>
        <dd>伸展</dd>
        <dd>内転</dd>
        <dd>外転</dd>
        <dd>内旋(1st)</dd>
        <dd>外旋(1st)</dd>
        <dd>内旋(2st)</dd>
        <dd>外旋(2st)</dd>
        <dd>内旋(3st)</dd>
        <dd>外旋(3st)</dd>
      </div>
      <div class="right_shoulder_rom_score" style="width:80px;border:1px solid black;text_align:center">
        <dd>右</dd>
        <% rom_scale.right_shoulder_each_score.each do |attr_name, score| %>
          <dd class="<%= attr_name %>_score"><%= score %></dd>
        <% end %>
      </div>
      <div class="left_shoulder_rom_score">
        <dd>左</dd>
        <% rom_scale.left_shoulder_each_score.each do |attr_name, score| %>
          <dd class="<%= attr_name %>_score"><%= score %></dd>
        <% end %>
      </div>
    </div>
  </div>
</div>
