<div class="row show-mmt-collapse">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#neck_trunk_mmt_score" aria-expanded="false" aria-controls="shoulder_mmt_score">
    頸部・体幹
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#shoulder_mmt_score" aria-expanded="false" aria-controls="shoulder_mmt_score">
    肩関節
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#elbow_forearm_mmt_score" aria-expanded="false" aria-controls="elbow_forearm_mmt_score">
    肘関節・前腕
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#wrist_mmt_score" aria-expanded="false" aria-controls="wrist_mmt_score">
    手関節
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#hip_mmt_score" aria-expanded="false" aria-controls="hip_mmt_score">
    股関節
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#knee_mmt_score" aria-expanded="false" aria-controls="knee_mmt_score">
    膝関節
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ankle_mmt_score" aria-expanded="false" aria-controls="ankle_mmt_score">
    足関節
  </button>
</div>
