<div class="brs-explain-modal">
  <div class="modal fade" id="scale1" tabindex="-1" role="dialog" aria-labelledby="scale1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">上肢</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <span class="brs-modal-subtitle">ステージI:</span><br/>
            <span class="brs-modal-subcontent">弛緩性麻痺</span><br/>
            <span class="brs-modal-subtitle">ステージⅡ:</span><br/>
            <span class="brs-modal-subcontent">上肢のわずかな随意運動</span><br/>
            <span class="brs-modal-subtitle">ステージⅢ:</span><br/>
            <span class="brs-modal-subcontent">座位での肩・肘の同時屈曲、同時伸展</span><br/>
            <span class="brs-modal-subtitle">ステージⅣ:</span><br/>
            <span class="brs-modal-subcontent">腰の後方へ手をつける。</span><br/>
            <span class="brs-modal-subcontent">肘を伸展させて上肢を前方水平へ挙上</span><br/>
            <span class="brs-modal-subcontent">肘90°屈曲位での前腕回内・回外</span><br/>
            <span class="brs-modal-subtitle">ステージⅤ:</span><br/>
            <span class="brs-modal-subcontent">肘を伸展させて上肢を横水平へ挙上</span><br/>
            <span class="brs-modal-subcontent">前方頭上へ挙上</span><br/>
            <span class="brs-modal-subcontent">肘伸展位での前腕回内・回外</span><br/>
            <span class="brs-modal-subtitle">ステージⅥ:</span><br/>
            <span class="brs-modal-subcontent">各関節の分離運動</span><br/>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale2" tabindex="-1" role="dialog" aria-labelledby="scale2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">手指</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <span class="brs-modal-subtitle">ステージI:</span><br/>
            <span class="brs-modal-subcontent">弛緩性麻痺</span><br/>
            <span class="brs-modal-subtitle">ステージⅡ:</span><br/>
            <span class="brs-modal-subcontent">自動的手指屈曲がわずかに可能</span><br/>
            <span class="brs-modal-subtitle">ステージⅢ:</span><br/>
            <span class="brs-modal-subcontent">全指同時握り、釣形握り</span><br/>
            <span class="brs-modal-subcontent">伸展は反射だけで、随意的な手指伸展は不能</span><br/>
            <span class="brs-modal-subtitle">ステージⅣ:</span><br/>
            <span class="brs-modal-subcontent">横つまみ(母指は離せない)</span><br/>
            <span class="brs-modal-subcontent">少ない範囲での半随意的手指伸展</span><br/>
            <span class="brs-modal-subtitle">ステージⅤ:</span><br/>
            <span class="brs-modal-subcontent">対向つまみ、筒握り、球握り</span><br/>
            <span class="brs-modal-subcontent">随意的な手指伸展(範囲は一定せず)</span><br/>
            <span class="brs-modal-subtitle">ステージⅥ:</span><br/>
            <span class="brs-modal-subcontent">全種類の握り</span><br/>
            <span class="brs-modal-subcontent">全可動域の手指伸展</span><br/>
            <span class="brs-modal-subcontent">すべての指の分離運動</span><br/>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale3" tabindex="-1" role="dialog" aria-labelledby="scale3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">下肢</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <span class="brs-modal-subtitle">ステージI:</span><br/>
            <span class="brs-modal-subcontent">弛緩性麻痺</span><br/>
            <span class="brs-modal-subtitle">ステージⅡ:</span><br/>
            <span class="brs-modal-subcontent">下肢のわずかな随意運動</span><br/>
            <span class="brs-modal-subtitle">ステージⅢ:</span><br/>
            <span class="brs-modal-subcontent">座位、立位での股・膝・足の同時屈曲</span><br/>
            <span class="brs-modal-subtitle">ステージⅣ:</span><br/>
            <span class="brs-modal-subcontent">座位、足を床の後方へ滑らせ、膝を90°以上屈曲</span><br/>
            <span class="brs-modal-subcontent">踵を床から離さずに随意的に足関節背屈</span><br/>
            <span class="brs-modal-subtitle">ステージⅤ:</span><br/>
            <span class="brs-modal-subcontent">立位で股伸展位</span><br/>
            <span class="brs-modal-subcontent">免荷した状態で膝屈曲分離運動</span><br/>
            <span class="brs-modal-subcontent">立位、膝伸展位で足を少し前に踏み出し足関節背屈分離運動</span><br/>
            <span class="brs-modal-subtitle">ステージⅥ:</span><br/>
            <span class="brs-modal-subcontent">立位、骨盤の挙上による範囲を超えた股外転</span><br/>
            <span class="brs-modal-subcontent">座位、足内反と外反を伴う膝を中心とした下腿の内・外旋</span><br/>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
