<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item top-breadcrumb-item"><%= link_to "患者一覧", patients_path %></li>
      <% if patient %>
        <li class="breadcrumb-item middle-breadcrumb-item"><%= link_to patient.full_name, patient_path(patient) %></li>
      <% end %>
      <% if scale %>
        <li class="breadcrumb-item under-breadcrumb-item active" aria-current="page"><%= scale %></li>
      <% end %>
    </ol>
  </div>
</nav>
