<% if model.errors.any? %>
  <div id="error_explanation" class="error-explanation alert alert-danger">
    <h4><%= model.errors.count%>件のエラーが発生しました。</h4>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li>・<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
