<div class="modal fade" id="scale1" tabindex="-1" role="dialog" aria-labelledby="scale1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">座位から立位</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">教示：「胸の前で腕を組んでください。なるべく手を使わないようにしてください。
          立つときに足の後面で椅子に寄りかからないようにしてください。では，立ち上がってください。」</span><br/>
        （2）正常：自力で手を使わずに立ち上がり，立位を安定させる<br/>
        （1）中等度：手を使って1回で立ち上がる<br/>
        （0）重度：介助なしに立ち上がることができない，または手を使って数回試みる
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="scale2" tabindex="-1" role="dialog" aria-labelledby="scale2Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">爪先立ち</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">教示：「足を肩幅に開いてください。手は腰に置いてください。できるだけ高く踵を上げて爪先立ちをしてください。これから3秒数えます。この格好を少なくとも3秒保ってください。真っ直ぐ前を向いてください。では、踵を上げてください。」</span><br/>
          （2）正常：3 秒間最大の高さで安定している<br/>
          （1）中等度：踵を上げるが、全可動域ではない(手を保持している時よりも小さい)、または3秒の間、明らかな不安定さがある<br/>
          （0）重度：＜3 秒
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="scale3" tabindex="-1" role="dialog" aria-labelledby="scale3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">片足立ち</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          教示：「真っ直ぐ前を向いて、手は腰に置いてください。片足を後ろに折り曲げてください。上げたほうの足をもう一方の足に触れさせてはいけません。できるだけ長く片足で立っていてください。真っ直ぐ前を向いてください。では、片足を上げてください。」<br/>
          <span class="bestest-teachig">左右行い、得点の低い方を用いる。</span><br/>
          （2）正常：20 秒<br/>
          （1）中等度：＜20 秒<br/>
          （0）重度：不能　
        </p>
      </div>
    </div>
  </div>
</div>
