<div class="modal fade" id="scale4" tabindex="-1" role="dialog" aria-labelledby="scale4Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">修正ステップ―前方</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">教示：「足を肩幅に開いて立ち、手は身体の脇においてください。前方の限界を超えて、私の手に寄りかかって体を傾けてください。私が手を離したら、転ばないように、足を踏み出すなど必要なことを何でもしてください。」</span><br/>
          （2）正常：１歩の大きなステップで、自力で回復する（２歩目のアライメント調整のステップはあっても良い）<br/>
          （1）中等度：平衡を回復するために 1 歩より多く踏み出す<br/>
          （0）重度：足が出ないか、支えないと転ぶか、自然に転ぶ
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="scale5" tabindex="-1" role="dialog" aria-labelledby="scale5Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">修正ステップ―後方</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">教示：「足を肩幅に開いて立ち、手は脇におろしてください。後方の限界を超えて、私の手に寄りかかって体を傾けてください。私が手を離したら、転ばないように、足を踏み出すなど必要なことを何でもしてください。」</span><br/>
          （2）正常：１歩の大きなステップで、自力で回復する（２歩目のアライメント調整のステップはあっても良い）<br/>
          （1）中等度：平衡を回復するために 1 歩より多く踏み出す<br/>
          （0）重度：足が出ないか、支えないと転ぶか、自然に転ぶ
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="scale6" tabindex="-1" role="dialog" aria-labelledby="scale6Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">修正ステップ――側方</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          教示：「足を閉じて立ち、手は脇におろしてください。側方の限界を超えて、私の手に寄りかかってください。私が手を離したら、転ばないように、足を踏み出してください。」<br/>
          <span class="bestest-teachig">左右行い、得点の低い方を用いる。</span><br/>
          （2）正常：1 歩で自力で回復する（交差、側方ステップ可）<br/>
          （1）中等度：回復するのに何歩か必要<br/>
          （0）重度：転ぶ、または踏み出せない
        </p>
      </div>
    </div>
  </div>
</div>
