<div class="modal fade" id="scale10" tabindex="-1" role="dialog" aria-labelledby="scale10Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">歩行速度の変化</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">教示：「普通の速度で歩き始めて、私が「速く」と言ったらできるだけ速く歩いてください。私が「ゆっくり」と言ったら、とてもゆっくり歩いてください。」</span><br/>
          （2）正常：バランスを崩さずにはっきりと歩行速度を変えられる<br/>
          （1）中等度：歩行速度を変えることができない、または不安定<br/>
          （0）重度：はっきりと速度を変えられず、かつ不安定な徴候もある
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="scale11" tabindex="-1" role="dialog" aria-labelledby="scale11Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">頭を水平回旋させながらの歩行</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">教示：「普通の速度で歩き始めて、私が「右」と言ったら、顔を右に向けて右を見てください。「左」と言ったら、顔を左に向けて左を見てください。なるべく真っ直ぐ歩くようにしてください。」</span><br/>
          （2）正常：歩行速度を変えず、良好なバランスを保ちながら頭部を回旋する<br/>
          （1）中等度：歩行速度を落として頭部を回旋する<br/>
          （0）重度：バランスを崩しながら頭部を回旋する
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="scale12" tabindex="-1" role="dialog" aria-labelledby="scale12Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">歩行時ピボットターン</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">教示：「普通の速度で歩き始めてください。私が「ターンして止まってください」と言ったら、できるだけ速く反対方向に向きを変えて止まってください。ターン後、両足は揃えてください。」</span><br/>
          （2）正常：バランス良く、素早く（≦3 ステップ）足を揃えながらターンする<br/>
          （1）中等度：バランス良く、ゆっくり(≧4 ステップ)足を揃えながらターンする<br/>
          （0）重度：速度にかかわらず、バランスを崩すことなしに足を揃えながらのターンができない
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="scale13" tabindex="-1" role="dialog" aria-labelledby="scale13Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">障害物またぎ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">教示：「普通の速度で歩き始めてください。箱のところに来たら、避けずにまたぎ越えて歩き続けてください。」</span><br/>
          （2）正常：最小限の速度変化で、良好なバランスを保ちながら箱を越えられる<br/>
          （1）中等度：靴箱を越えるが箱に触れる、または歩行を遅くして慎重なふるまいをみせる<br/>
          （0）重度：箱を越えられない、または箱をよけて通る
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="scale14" tabindex="-1" role="dialog" aria-labelledby="scale14Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">TUG 二重課題</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">TUG の教示：「「始め」と言ったら、椅子から立ち上がり、普通の速度で床のテープのところまで歩いて、向きを変え、戻って来て椅子に座ってください。」</span><br/>
          <span class="bestest-teachig">TUG 二重課題の教示：「100から始めて 3 ずつ引いていってください。「始め」と言ったら椅子から立ち上がり、普通の速度で床のテープまで歩いて、向きを変え、戻って来て椅子に座ってください。その間ずっと数字を逆に数え続けてください。」</span><br/>
          （2）正常：二重課題なしの TUG と比較して、数字を逆唱しながらの座位、立位、歩行に明らかな変化がない<br/>
          （1）中等度：二重課題なしの TUG と比較して、二重課題がカウントまたは歩行（＞10%）に影響する<br/>
          （0）重度：歩いているとカウントが止まる、またはカウントしていると歩行が止まる
        </p>
      </div>
    </div>
  </div>
</div>
