<div class="bestest-explain-modal">
  <%= render "bestest_scales/modal/apa_explain_modal" %>
  <%= render "bestest_scales/modal/cpa_explain_modal" %>
  <%= render "bestest_scales/modal/sensory_function_explain_modal" %>
  <%= render "bestest_scales/modal/dynamic_walking_explain_modal" %>
</div>
