<div class="modal fade" id="scale7" tabindex="-1" role="dialog" aria-labelledby="scale7Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">静止立位(開眼)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">教示：「手は腰に置いておいてください。両足は触れそうなくらいに揃え、真っ直ぐ前を見てください。私がやめと言うまでできるだけ安定した状態でいてください。」</span><br/>
          （2）正常：30 秒<br/>
          （1）中等度：＜30 秒<br/>
          （0）重度：不能
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="scale8" tabindex="-1" role="dialog" aria-labelledby="scale8Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">静止立位(閉眼)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">教示：「フォームの上に乗ってください。手は腰に置いておいてください。両足は触れそうなくらいに揃え、真っ直ぐ前を見てください。私がやめと言うまでできるだけ安定した状態でいてください。目を閉じてからの時間を計ります。」</span><br/>
          （2）正常：30 秒<br/>
          （1）中等度：＜30 秒<br/>
          （0）重度：不能
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="scale9" tabindex="-1" role="dialog" aria-labelledby="scale9Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">斜面台(閉眼)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span class="bestest-teachig">教示：「斜面台に立ち、爪先を上に向けてください。足は肩幅に開き、手は身体の脇に下ろしてください。目を閉じてからの時間を計ります。」</span><br/>
          （2）正常：30 秒自力で立ち、重力に対して垂直に保てる<br/>
          （1）中等度：自力で立つが 30 秒未満である、または斜面に対し垂直になる<br/>
          （0）重度：不能
        </p>
      </div>
    </div>
  </div>
</div>
