<div class="explain-modal">
  <div class="modal fade" id="scale1" tabindex="-1" role="dialog" aria-labelledby="scale1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            上肢で手指や座面などを支持すれば10秒以上端座位保持できる。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale2" tabindex="-1" role="dialog" aria-labelledby="scale2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            上肢で支持せずに10秒以上端座位保持できる。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale3" tabindex="-1" role="dialog" aria-labelledby="scale3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            左右どちらか片側の手で反対側の足首を握り、戻ることができる。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale4" tabindex="-1" role="dialog" aria-labelledby="scale4Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            両側臀部を持ち上げながら、左右どちらにも10cm以上移動することができる。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale5" tabindex="-1" role="dialog" aria-labelledby="scale5Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            片側の臀部を3秒以上座面から話すことができる(両側)。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale6" tabindex="-1" role="dialog" aria-labelledby="scale6Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            左右どちらか片側の大腿部を持ち上げ、足底面を床面から3秒以上話すことができる(両側)。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale7" tabindex="-1" role="dialog" aria-labelledby="scale7Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            左右両側の大腿部を持ち上げ、両側足底面を床面から3秒以上話すことができる。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale8" tabindex="-1" role="dialog" aria-labelledby="scale8Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            片側ずつ臀部を持ち上げ、前後どちらかにもお尻歩きができる。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale9" tabindex="-1" role="dialog" aria-labelledby="scale9Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            検者は仙骨部から20cm後方の座面に指を接触させる。それを肩越しに見て、1秒間隔で3回変わる検者の指の本数を答えることができる(手の形を真似できる)。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scale10" tabindex="-1" role="dialog" aria-labelledby="scale10Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            左右どちらか片側上肢を最大努力で挙上(肩関節屈曲)し、肩関節内外旋・内外転中間位で、上腕骨を床面に対し垂直位まで挙げることができる。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
