<% provide(:title, "患者一覧") %>
<%= render "shared/breadcrumb", patient: false, scale: false %>
<div class="main-contents patient-index-page">
  <div class="container">
    <div class="new-patient-link">
      <%= link_to "患者登録", new_patient_path, class: "btn btn-primary" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="d-none d-md-block">id</th>
          <th>患者名</th>
          <th>性別</th>
          <th>年齢</th>
          <th class="d-none d-md-block">登録日</th>
        </tr>
      </thead>
      <tbody>
        <%= render @patients %>
      </tbody>
    </table>
    <%= paginate @patients %>
  </div>
</div>
