<% provide(:title, "患者ページ") %>
<%= render "shared/breadcrumb", patient: @patient, scale: false %>
<div class="main-contents">
  <%= render "patients/patient_detail", patient: @patient %>
  <div class="evaluation-finding-section border border-info">
      <h3>評価初見</h3>
      <div class="evaluation-finding-items">

      </div>
  </div>
  <%= render "patients/defined_scale", patient: @patient %>
  <%= render "patients/undefined_scale", patient: @patient %>
</div>
