<div class="collapse knee_rom_form" id="knee_rom_form">
  <div class="card card-body">
    <h3>膝関節</h3>
    <div class="d-flex justify-content-center">
      <div class="knee_rom_head part-head">
        <dd class="left-top"></dd>
        <dd>屈曲</dd>
        <dd>伸展</dd>
      </div>
      <div class="right_knee_rom_form rom-form">
        <dd class="direction-head">右</dd>
        <% rom_scale.right_knee_scale_score.keys.each  do |attr_name| %>
          <div>
            <%= f.number_field attr_name, id: "#{attr_name}_form", step: "5", in: -180..180 %>
          </div>
        <% end %>
      </div>
      <div class="left_knee_rom_form rom-form">
        <dd class="direction-head">左</dd>
        <% rom_scale.left_knee_scale_score.keys.each  do |attr_name| %>
          <div>
            <%= f.number_field attr_name, id: "#{attr_name}_form", step: "5", in: -180..180 %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
