<div class="row new-mmt-collapse">
  <button class="btn btn-primary col-4 col-md-1" type="button" data-toggle="collapse" data-target="#neck_trunk_mmt_form" aria-expanded="false" aria-controls="shoulder_mmt_form">
    頸部・体幹
  </button>
  <button class="btn btn-primary col-4 col-md-2" type="button" data-toggle="collapse" data-target="#shoulder_mmt_form" aria-expanded="false" aria-controls="shoulder_mmt_form">
    肩関節
  </button>
  <button class="btn btn-primary col-4 col-md-1" type="button" data-toggle="collapse" data-target="#elbow_forearm_mmt_form" aria-expanded="false" aria-controls="elbow_forearm_mmt_form">
    肘関節・前腕
  </button>
  <button class="btn btn-primary col-4 col-md-1" type="button" data-toggle="collapse" data-target="#wrist_mmt_form" aria-expanded="false" aria-controls="wrist_mmt_form">
    手関節
  </button>
  <button class="btn btn-primary col-4 col-md-1" type="button" data-toggle="collapse" data-target="#hip_mmt_form" aria-expanded="false" aria-controls="hip_mmt_form">
    股関節
  </button>
  <button class="btn btn-primary col-4 col-md-1" type="button" data-toggle="collapse" data-target="#knee_mmt_form" aria-expanded="false" aria-controls="knee_mmt_form">
    膝関節
  </button>
  <button class="btn btn-primary col-4 col-md-1" type="button" data-toggle="collapse" data-target="#ankle_mmt_form" aria-expanded="false" aria-controls="ankle_mmt_form">
    足関節
  </button>
</div>
