<div class="collapse" id="elbow_forearm_mmt_form">
  <div class="card card-body">
    <h3>肘関節・前腕</h3>
    <div class="d-flex justify-content-center">
      <div class="elbow_forearm_mmt_head">
        <dd style="height:24px;"></dd>
        <dd>屈曲</dd>
        <dd>伸展</dd>
        <dd>回内</dd>
        <dd>回外</dd>
      </div>
      <div class="right_elbow_forearm_mmt_form" style="width:80px;">
        <dd>右</dd>
        <% mmt_scale.right_elbow_each_score.each  do |attr_name, value| %>
          <%= f.select attr_name, MmtScale.human_select_options(attr_name) %>
        <% end %>
        <% mmt_scale.right_forearm_each_score.each  do |attr_name, value| %>
          <%= f.select attr_name, MmtScale.human_select_options(attr_name) %>
        <% end %>
      </div>
      <div class="left_elbow_forearm_mmt_form" style="width:80px;">
        <dd>左</dd>
        <% mmt_scale.left_elbow_each_score.each  do |attr_name, value| %>
          <%= f.select attr_name, MmtScale.human_select_options(attr_name) %>
        <% end %>
        <% mmt_scale.left_forearm_each_score.each  do |attr_name, value| %>
          <%= f.select attr_name, MmtScale.human_select_options(attr_name) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
