<div class="collapse elbow_forearm_mmt_form" id="elbow_forearm_mmt_form">
  <div class="card card-body">
    <h3>肘関節・前腕</h3>
    <div class="d-flex justify-content-center">
      <div class="elbow_forearm_mmt_head part-head">
        <dd class="left-top"></dd>
        <dd>屈曲</dd>
        <dd>伸展</dd>
        <dd>回内</dd>
        <dd>回外</dd>
      </div>
      <div class="right_elbow_forearm_mmt_form mmt-form">
        <dd class="direction-head">右</dd>
        <% mmt_scale.right_elbow_scale_attributes.each  do |attr_name| %>
          <div>
            <%= f.select attr_name, MmtScale.human_select_options(attr_name) %>
          </div>
        <% end %>
        <% mmt_scale.right_forearm_scale_attributes.each  do |attr_name| %>
          <div>
            <%= f.select attr_name, MmtScale.human_select_options(attr_name) %>
          </div>
        <% end %>
      </div>
      <div class="left_elbow_forearm_mmt_form mmt-form">
        <dd class="direction-head">左</dd>
        <% mmt_scale.left_elbow_scale_attributes.each  do |attr_name| %>
          <div>
            <%= f.select attr_name, MmtScale.human_select_options(attr_name) %>
          </div>
        <% end %>
        <% mmt_scale.left_forearm_scale_attributes.each  do |attr_name| %>
          <div>
            <%= f.select attr_name, MmtScale.human_select_options(attr_name) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
