@import 'bootstrap/scss/bootstrap';
@import 'reset';

// header
.navbar{
  background-color: lightsteelblue;
}
header .container{
  position: relative;
}
.page-title{
  position:absolute;
  width:100%;
  text-align:center;
  line-height:55px;
  font-size:1.5em;
  font-weight:bold;
}

// main
main{
  margin-top: 72px;
}
.main-contents{
  padding-top: 24px;
  padding-bottom: 80px;
}

// therapist
.new_therapist{
  text-align: center;
}

//patient
.patient-details{
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}
.sex-and-age, .height-and-weight, .edit-and-delete-link{
  padding-left: 60px;
  p{
    margin-bottom:5px;
  }
}
.evaluation-finding-section{
  padding:20px;
  margin-top: 40px;
}
.defined-scale-section{
  padding:20px;
  margin-top: 40px;
  .defined-scale-items{
    padding-top: 20px;
  }
  .defined-scale-item{
    margin-top: 20px;
    align-items: flex-end;
    border-bottom: 1px solid gray;
    .defined-scale{
      display: inline-block;
      width: 100px;
      font-size: 20px;
    }
  }
}
.undefined-scale-section{
  padding: 20px;
  margin-top: 40px;
}
.undefined-scale-items{
  padding-top: 20px;
}
.undefined-scale-item{
  text-align: center;
  margin-top: 15px;
}

// sias
.new-sias{
  h3{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

  }
}

//rom

//mmt

//form
.form_group + .form_group{
  margin-top: 30px;
}
.form-action{
  margin-top:10px;
}
.part-head{
  padding-right: 40px;
  dd{
    font-size: 20px;
    font-weight: 500;
    height: 31px;
    margin-bottom: 20px;
  }
}

.rom-form, .mmt-form, .mas-form, .tendon-reflex-form, .tactile-form, .bathyesthesia-form{
  .direction-head{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 80px;
    height: 31px;
    margin-bottom: 20px;
  }
  div{
    text-align: center;
  }
  input{
    margin-bottom: 20px;
  }
  select{
    height: 31px;
    margin-bottom: 20px;
  }
}
.nrs-form{
  .nrs-column{
    margin-bottom: 30px;
    label{
      font-size: 20px;
      font-weight: 500;
      margin-right: 20px;
    }
    select{
      height: 30px;
    }
  }
}
.hdsr-column{
  padding-bottom: 40px;
  border: 1px solid black;
  .hdsr-head{
    padding-bottom: 10px;
  }
}
.flex-form{
  display: flex;
  justify-content: flex-start;
  .form-left{
    padding-right: 20px;
  }
}
.hdsr-form{
  input{
    margin-right: 20px;
  }
}

.rom-score, .mmt-score, .mas-score, .tendon-reflex-score, .bathyesthesia-score{
  .direction-head{
    font-size: 20px;
    font-weight: 500;
    width: 80px;
    height: 31px;
  }
  dd{
    height: 31px;
    padding-top: 5px;
    margin-bottom: 20px;
  }
}
.scale_column{
  padding-bottom: 20px;
  select{
    margin-left: 20px;
  }
}

//component
.breadcrumb{
  background-color: white;
}
.custom-btn{
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
a.btn-radius-solid {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}
a.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
th{
  font-size: 20px;
}
.overview{
  margin-top: 40px;
  margin-bottom: 40px;
  h3{
    padding-bottom: 20px;
  }
}
.show-total-score{
  font-size: 30px;
  padding-bottom: 10px;
}
//modal
.modal-body{
  span{
    display:inline-block;
  }
  .brs-modal-subtitle{
    margin-top: 20px;
    font-weight: 600;
  }
  .brs-modal-subcontent{
    margin-left: 30px;
  }
}
//error
.error_explanation{
  margin-bottom: 30px;
}
