<%= provide(:title, "深部腱反射一覧") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "深部腱反射"  %>
<div class="main-contents patient-page index-tendon-reflex index-scale">
  <div class="container">
    <%= index_scale_link_section("tendon_reflex_scales", @patient) %>
    <%= render "index_tendon_reflex_scales_table", tendon_reflex_scales: @tendon_reflex_scales, patient: @patient %>
  </div>
</div>
