<div class="d-flex justify-content-center">
  <div class="shoulder_mas_head part-head">
    <dd class="left-top"></dd>
    <dd>肘関節</dd>
    <dd>手関節</dd>
    <dd>膝関節</dd>
    <dd>足関節</dd>
  </div>
  <div class="right_shoulder_mas_form mas-form">
    <dd class="direction-head">右</dd>
    <% mas_scale.right_scale_attributes.each do |attr_name| %>
      <div>
        <%= f.select attr_name, MasScale.human_select_options(attr_name) %>
      </div>
    <% end %>
  </div>
  <div class="left_shoulder_mas_form mas-form">
    <dd class="direction-head">左</dd>
    <% mas_scale.left_scale_attributes.each do |attr_name| %>
      <div>
        <%= f.select attr_name, MasScale.human_select_options(attr_name) %>
      </div>
    <% end %>
  </div>
</div>
