<% provide(:title, "FBS") %>
<%= render "shared/breadcrumb", patient: @patient, scale: "FBS" %>
<div class="main-contents patient-page show-fbs show-scale">
  <div class="container">
    <%= show_scale_link_section("FBS", "fbs_scales", @patient, @fbs_scale) %>
    <p class="fbs-total-score show-total-score">得点　<%= @fbs_scale.total_score %>点</p>
    <%= render "show_fbs_scale_table", fbs_scale: @fbs_scale %>
  </div>
</div>
