<footer>
  <div class="container d-flex justify-content-between">
    <div class="footer-left">
      <h5>評価APP</h5>
    </div>
    <div class="footer-right">
      <p>©︎ 2020 Ryo Yamaguchi</p>
    </div>
  </div>
</footer>
