<footer>
  <div class="container">
    <div class="row justify-content-between">
      <h5 class="footer-left">評価APP</h5>
      <p class="footer-right">©︎ 2020 Ryo Yamaguchi</p>
    </div>
  </div>
</footer>
